#barForm > input[type="text"] {
	width: 100%;
	height: 5%;
	text-align: center;
}

body {
	background:#e0e0e0;
	background: url(https://tctechcrunch2011.files.wordpress.com/2015/04/codecode.jpg?w=738);
	background-size: cover;
	margin:0 auto 0;
	padding:0;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color:#333333;
}


div.lwidth {
	width:500px;
	margin:80px auto 0;
	padding:0;
	background:#FFFFFF;
}

/* default forms */
form input, form textarea, select {
	border:1px solid #999999;
	border-bottom-color:#cccccc;
	border-right-color:#cccccc;
	padding:5px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:1.0em;
	margin:2px;
}

form input.button {
	background:#0D7ABF none repeat-x scroll bottom left;
	color:#ffffff;
	border:1px solid #00F;
	color:#ffffff;
	font-size:0.8em;
	padding:6px 14px;
	font-weight:bold;
	font-family:Verdana, Arial, Helvetica, sans-serif;
}

label {
	float: left;
	width: 50%;
	font-weight: bold;
	position: relative;
	margin: auto;
}

/* content */
div.page-wrap {
	padding:20px;
	clear:both;
	background-color:#fff;
}

div.content {
	float:left;
	width:100%;
	padding-right:20px;
	font-size:90%;
}

/* footer */
#status, div.footer {
	background:none repeat scroll 0 0 #262626;
	clear:both;
	color:#FFFFFF;
	padding:10px;
	text-align:center;
}